[Unit]
Description=Cuicui Streamer
After=network-online.target

[Service]
Type=simple
User=pi

ExecStart=/home/pi/cuicuistreamer.sh

Restart=on-failure

[Install]
WantedBy=multi-user.target