[Unit]
Description=Cuicui Compute
After=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi
ExecStart=/home/pi/cuicuicompute.sh

Restart=on-failure

[Install]
WantedBy=multi-user.target